html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}
html {
  height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container-fluid {
  padding: 0;
  min-height: 100%;
  flex: 1 0 auto;
}

.container-fluid:after {
  content: '';
  display: block;
  height: 7rem;
  margin-bottom: 3rem;
}

.navbar {
  background-color: #848484;
  height: 10vh;
  font-size: 1.5rem;
}

.navbar-brand {
  font-size: 1.8rem;
}

.content {
  margin-top: 6rem;
  margin-bottom: -7rem;
}

.contact-form {
  background-color: rgba(70, 130, 180, .3);
  padding: 2rem;
  border-radius: 2rem;
}

.icons {
  display: inline-block;
  margin-right: 1rem;
  color: rgba(255, 255, 255, .8);
  font-size: 1.3rem;
}

.footer {
  background-color: #848484;
  height: 7rem;
  width: 100%;
  padding: 1rem;
  color: rgba(255, 255, 255, .8);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-shrink: 0;
}

.footer-name {
  font-size: 1.8rem;
}

.gallery-img {
  max-height: 20%;
  max-width: 20%;
}